 body {
   padding-left: 0;
   padding-right: 0;
 }
 .navbar {
   height: 60px;
 }
 .navbar .navbar-inner {
   background: #434141;
   border: none;
   height: 60px;
   padding-left: 20px;
   padding-right: 20px;
 }
 .navbar .navbar-inner .image {
   border-radius: 0px;
   margin: 16px 0px 0px 0px;
   -moz-box-shadow: none;
   -webkit-box-shadow: none;
   -o-box-shadow: none;
   box-shadow: none;
   height: 40px;
   width: 120px;
 }
 .navbar .navbar-inner .brand {
   margin: 0px 0px 0px -15px;
   text-shadow: none;
   font-family:"oswald";
   font-weight: bold;
   font-size: 24px;
   color: #333333;
   line-height: 40px;
 }
 .navbar .navbar-inner .nav li a {
   line-height: 40px;
 }
 .container-fluid.container-fluid-1 {
   background: #ec7322;
   border-bottom: 1px solid #dfedeb;
 }
 .container-fluid-1 .container {
   margin-top: 30px;
   margin-bottom: 40px;
 }
 .container-fluid-1 .container .row-fluid .span12 .heading {
   font-size: 60px;
   line-height: 64px;
 }
 .container-fluid-1 .container .row-fluid .span12 p {
   font-weight: 300;
   font-size: 22px;
 }
 .container.container-1 {
   height: 781px;
 }
 .container-1 .row-fluid .span3 .well {
   padding: 0px;
   background: rgba(0, 0, 0, 0);
   border-radius: 0px;
   -moz-box-shadow: none;
   -webkit-box-shadow: none;
   -o-box-shadow: none;
   box-shadow: none;
   border-top: 1px solid #f0f0f0;
   border-right: none;
   border-bottom: 1px solid #f0f0f0;
   border-left: none;
 }
 .container-1 .row-fluid .span3 .well .nav {
   padding: 0px;
 }
 .container-1 .row-fluid .span3 .well .nav li a {
   padding: 8px 15px 8px 15px;
   margin: 0px;
   font-size: 15px;
   border-top: none;
   border-right: none;
   border-left: none;
 }
 .container-1 .row-fluid .span3 .well .nav li a.a-1 {
   border-bottom: 1px solid #ebebeb;
 }
 .container-1 .row-fluid .span3 .well .nav li a.a-2 {
   border-bottom: 1px solid #0088cc;
   background: #0088cc;
   color: #ffffff;
 }
 .container-1 .row-fluid .span3 .well .nav li .a-2 .icon.icon-chevron-right {
   color: #8f8f8f;
   font-size: 14px;
   margin: 3px 0px 0px 0px;
   height: 14px;
   width: 14px;
 }
 .container-1 .row-fluid .span3 .well .nav li .a-1 .icon.icon-chevron-right {
   color: #8f8f8f;
   font-size: 14px;
   margin: 3px 0px 0px 0px;
   height: 14px;
   width: 14px;
 }
 .container-1 .row-fluid .span9 {
   padding: 0px 0px 0px 20px;
 }
 .container-1 .row-fluid .span9 .page-header {
   padding: 0px;
   margin: 0px;
 }
 .container-1 .row-fluid .span9 .page-header h1 {
   font-weight: normal;
   font-size: 42px;
   color: #555555;
 }
 .container-1 .row-fluid .span9 .page-header h1 small {
   font-size: 26px;
   line-height: 42px;
 }
 .container-1 .row-fluid .span9 p {
   font-weight: 300;
   font-size: 16px;
   line-height: 25px;
 }
 .container-1 .row-fluid .span9 .control-label {
   width: 220px;
 }
 .container-1 .row-fluid .span9 input.textinput.textinput-1 {
   width: 206px;
 }
 .container-1 .row-fluid .span9 .form-actions {
   background: transparent;
   border: none;
 }
 .container-fluid.container-fluid-2 {
   background: #333333;
   padding: 30px 20px 30px 20px;
 }
 .container-fluid-2 .container .row-fluid .span12 .pull-left p {
   font-weight: 300;
   color: #ffffff;
   line-height: 36px;
 }
 .container-fluid-2 .container .row-fluid .span12 .nav {
   margin: 0px;
 }
 .container-fluid-2 .container .row-fluid .span12 .nav li a {
   text-align: center;
   color: #cccccc;
 }

 .social_logo {
   width: 80px;
   height: 80px;
   padding-top: 10px;
 }